<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Crear - CreateView</title>
	</head>
	<body>
		<h1>Crear Elemento</h1>
		<p>Creando un elemento en la BD con vista genérica CreateView</p>
		<!-- Pintamos el formulario con los campos que tiene el modelo -->
		<form method="POST">
			{% csrf_token %} {{form.as_p}}
			<button type="submit">Guardar</button>
		</form>
	</body>
</html>
