<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lista Prueba</title>
	</head>
	<body>
		<h1>Lista de Prueba - ListView y Models</h1>
		<p>
			Mostrando el listado obtenido desde la BD a traves de la clase genérica
			ListView
		</p>
		<ul>
			{% for item in listado %}
			<li>{{item.titulo}} - {{item.subtitulo}} - {{item.cantidad}}</li>
			{% endfor %}
		</ul>
	</body>
</html>
