{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Archivos estáticos</title>
		<link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
	</head>
	<body>
		<h1>Archivos estáticos</h1>
		<div class="button-group">
			<a class="secondary button">View</a>
			<a class="success button">Edit</a>
			<a class="warning button">Share</a>
			<a class="alert button">Delete</a>
		</div>
	</body>
</html>
