{% extends 'base.html' %}
<!-- Title -->
{% block title %} Lista Departamentos {% endblock title %}
<!-- Content -->
{% block content %}
<!-- Header -->
{% include 'includes/header.html' %}
<div class="grid-container">
	<div class="grid-x">
		<h1 class="cell">Lista Departamentos</h1>
		<div class="cell">
			<table>
				<tbody>
					{% for departamento in departamentos %}
					<tr>
						<td>{{ departamento.name }}</td>
						<td>{{ departamento.short_name }}</td>
						<td>
							<a
								href="{% url 'empleado_app:listar_por_area' departamento.short_name %}"
								class="button success"
								>Ver Empleados
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}
