{% extends 'base.html' %} {% load static %}
<!-- Title -->
{% block title %} {{empleado.full_name}} {% endblock title %}
<!-- Content -->
{% block content %}
<!-- Header -->
{% include 'includes/header.html' %}
<div class="grid-container">
	<div class="grid-x grid-margin-x align-center">
		<h1 class="cell">Detalle empleado</h1>
		<div class="cell large-4 card" style="width: 300px">
			<!-- {{empleado.job}} Nos muestra el ID -->
			<!-- Lo siguiente funciona solo para choices -->
			<div class="card-divider">{{empleado.get_job_display}}</div>

			{% if empleado.avatar %}
			<img src="{{empleado.avatar.url}}" />
			{% else %}
			<img src="{% static 'images/index-1.jpg' %}" />
			{% endif %}

			<div class="card-section">
				<h4>{{empleado.full_name}}</h4>
				<p>{{empleado.departamento}}</p>
				<p><span class="label">Habilidades:</span></p>
				<ul class="vertical menu">
					{% for habilidad in empleado.habilidades.all %}
					<li>{{habilidad}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
