{% extends 'base.html' %}
<!-- Title -->
{% block title %} Lista Empleados por Departamento {% endblock title %}
<!-- Content -->
{% block content %}
<!--  -->
{% include 'includes/header.html' %}

<!-- {{object_list}} -->
<div class="grid-container">
	<div class="grid-x">
		<h1 class="cell">Listado Empleados por Área</h1>
		<div class="cell">
			<table>
				<thead>
					<tr>
						<th width="100">ID</th>
						<th>APELLIDOS</th>
						<th>NOMBRES</th>
						<th>DEPARTAMENTO</th>
						<th width="150">ACCIÓN</th>
					</tr>
				</thead>
				<tbody>
					{% for empleado in empleados %}
					<tr>
						<td>{{empleado.id}}</td>
						<td>{{empleado.last_name}}</td>
						<td>{{empleado.first_name}}</td>
						<td>{{empleado.departamento}}</td>
						<td>
							<a
								class="button tiny success"
								href="{% url 'empleado_app:detalle' empleado.id %}"
								>Ver</a
							>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}
